<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
      <div class="header__container">
        <div class="header__logo">
          <img src="img/recipy.png" alt="travel-food-travel" />
        </div>
        <div class="header__menu">
          <ul>
            <li><a href="#">Off Grid</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div>
            <i class="fas fa-search"></i>
          </div>
      </div>
      </div>
    </div>
    
    <section class="container showcase">
      <div class="row">
        <div class="col-xl-3 col-sm-6">     
          <div class="showcase__item">
            <img src="img/plates/recipe-1.jpg" />
            <h3>Raw Vegan Carrot Cake Bites with Avocado</h3>
          </div>   
          <div class="showcase__item">
            <img src="img/plates/recipe-2.jpg" />
            <h3>One Pot Weeknight Lasagna Soup Recipe</h3>
          </div>     
        </div>
        <div class="col-xl-6 col-sm-6">          
          <div class="showcase__main-item">
            <img src="img/plates/recipe-3.jpg" />
            <div class="showcase__main-detail">
              <p>March 10, 2019</p>
              <h3>Cannellini Aglio e Olio with Salmon</h3>
            </div>
          </div>     
        </div>
        <div class="col-xl-3 col-sm-6">          
          <div class="showcase__item">
            <img src="img/plates/recipe-1.jpg" />
            <h3>Raw Vegan Carrot Cake Bites with Avocado</h3>
          </div>   
          <div class="showcase__item">
            <img src="img/plates/recipe-2.jpg" />
            <h3>One Pot Weeknight Lasagna Soup Recipe</h3>
          </div>       
        </div>
      </section>
      <h2>tthis is the main page</h2>
      <button type="button" class="btn btn-primary">this is a button</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
    </div>
</body>
</html>