.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto 0;
    padding: .5rem;
    height: fit-content;

    & .menu__logo{
        width: 120px;
        background-color: red;
        display: block;
        img{
            width: 100%;
            display: block;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex:1;
        border-bottom: 1px solid $black;

        li{
            margin: 1rem;
        }
    }
}