section{
    padding: 0;
}

.showcase{
    padding:1rem 0;
    & .showcase__item{
        overflow: hidden;

        h3{
            font-size: 1.5rem;
            margin:1rem 0;
            text-align: center;
        }
    }

    & .showcase__main-item{
        overflow: hidden;
        img{
            position: relative;
            left: -100px;
        }
        & .showcase__main-detail{
            max-width: 500px;
            background-color: $white-color;
            margin:0 auto;
            position: relative;
            padding: 1rem;
            top: -50px;
            text-align: center;

            h3,p{
                margin:0;
            }
        }
    }
}